<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- call -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
	    <string>tel</string>
	    <string>sms</string>
	</array>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>The Mainland</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>The Mainland</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Your app needs access to the camera to take pictures.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Your app needs access to devices on your local network.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your app needs access to your location to show on the map.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your app needs access to your location at all times.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your app needs access to your location while using the app.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to add photos to the photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to the photo library to pick photos.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>

	<!-- Firebase-->
	<key>API_KEY</key>
	<string>AIzaSyBcjZVhqwhON1VAVI5j3doZk0TFOmbHMV4</string>
	<key>GCM_SENDER_ID</key>
	<string>397391816206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mainland.drebak</string>
	<key>PROJECT_ID</key>
	<string>the-mainland</string>
	<key>STORAGE_BUCKET</key>
	<string>the-mainland.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397391816206:ios:dce91f7fd27bf0387dbe5f</string>
</dict>
</plist>
